<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>


  <h3>Credits: {{ credits }}</h3>
<!-- <button (click) = "collectCredit()" >Collect UBI Stipend</button> -->
<!-- <br> -->
<div>
  <div>Credits {{ creditsPerSecond }}/sec</div>
  <hr>
  <div>Number of Tier 1 - {{ tOne }}</div>
  <div>Number of Tier 2 - {{ tTwo }}</div>
  <div>Number of Tier 3 - {{ tThree }}</div>
  <div>Number of Tier 4 - {{ tFour }}</div>
</div>
<br>
<button (click)="hireOne()">Tier 1 - {{ tOnePrice }}</button>
<button (click)="hireTwo()">Tier 2 - {{ tTwoPrice }}</button>
<button (click)="hireThree()">Tier 2 - {{ tThreePrice }}</button>
<button (click)="hireFour()">Tier 4 - {{ tFourPrice }}</button>
<br>
<div class="row">
  <div class="col-xs-12" align="left">
      <h3>Improvements</h3>
  </div>
</div>
<div class="row" >
    <div class="col-xs-12" align="left">
        <button (click)="upgradeOne()">Upgrade Tier 1 - {{ tOneUpgradePrice }}</button>
        <button (click)="upgradeTwo()">Upgrade Tier 2 - {{ tTwoUpgradePrice }}</button>
        <button (click)="upgradeThree()">Upgrade Tier 3 - {{ tThreeUpgradePrice }}</button>
        <button (click)="upgradeFour()">Upgrade Tier 4 - {{ tFourUpgradePrice }}</button>
    </div>
  </div>
